<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - Lomay Express</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <environment names="Development">
        <link rel="stylesheet" href="~/css/preloader.css">
        <link rel="stylesheet" href="~/css/bootstrap.css">
        <link rel="stylesheet" href="~/css/meanmenu.css">
        <link rel="stylesheet" href="~/css/animate.css">
        <link rel="stylesheet" href="~/css/owl-carousel.css">
        <link rel="stylesheet" href="~/css/swiper-bundle.css">
        <link rel="stylesheet" href="~/css/backtotop.css">
        <link rel="stylesheet" href="~/css/ui-range-slider.css">
        <link rel="stylesheet" href="~/css/magnific-popup.css">
        <link rel="stylesheet" href="~/css/nice-select.css">
        <link rel="stylesheet" href="~/flaticon/flaticon.css">
        <link rel="stylesheet" href="~/css/font-awesome-pro.css">
        <link rel="stylesheet" href="~/css/default.css">
        <link rel="stylesheet" href="~/css/style.css">
        <link rel="stylesheet" href="~/css/app.css" />
        <link rel="stylesheet" href="~/css/app.component.css" />
        <link rel="stylesheet" href="~/css/shared/components/header/header.css" />
        <link rel="stylesheet" href="~/css/shared/components/identity/identity.css" />
        <link rel="stylesheet" href="~/css/shared/components/pager/pager.css" />
        <link rel="stylesheet" href="~/css/basket/basket.component.css" />
        <link rel="stylesheet" href="~/css/basket/basket-status/basket-status.component.css" />
        <link rel="stylesheet" href="~/css/catalog/catalog.component.css" />
        <link rel="stylesheet" href="~/css/orders/orders.component.css" />
        <link rel="stylesheet" href="~/css/orders/orders-detail/orders-detail.component.css" />
        <link rel="stylesheet" href="~/css/orders/orders-new/orders-new.component.css" />
        <link rel="stylesheet" href="~/css/override.css" type="text/css" />
        <link rel="stylesheet" href="~/css/site.min.css" type="text/css" />

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/override.css" type="text/css" />
    </environment>

</head>
<body>

    <!-- preloader start -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <svg viewBox="0 0 58 58" id="mustard" class="product">
                    <g>
                        <path style="fill:#ED7161;" d="M39.869,58H18.131C16.954,58,16,57.046,16,55.869V12.621C16,11.726,16.726,11,17.621,11h22.757
                    C41.274,11,42,11.726,42,12.621v43.248C42,57.046,41.046,58,39.869,58z" />
                        <polygon style="fill:#D13834;" points="35,11 23,11 27.615,0 30.385,0 	" />
                        <rect x="16" y="16" style="fill:#D75A4A;" width="26" height="2" />
                        <rect x="20" y="11" style="fill:#D75A4A;" width="2" height="6" />
                        <rect x="25" y="11" style="fill:#D75A4A;" width="2" height="6" />
                        <rect x="30" y="11" style="fill:#D75A4A;" width="2" height="6" />
                        <rect x="36" y="11" style="fill:#D75A4A;" width="2" height="6" />
                        <circle style="fill:#D13834;" cx="29" cy="36" r="10" />
                    </g>
                </svg>
                <svg viewBox="0 0 49.818 49.818" id="meat" class="product">
                    <g>
                        <path style="fill:#994530;" d="M0.953,38.891c0,0,3.184,6.921,11.405,9.64c1.827,0.604,3.751,0.751,5.667,0.922
                        c7.866,0.703,26.714-0.971,31.066-18.976c1.367-5.656,0.76-11.612-1.429-17.003C44.51,5.711,37.447-4.233,22.831,2.427
                        c-8.328,3.795-7.696,10.279-5.913,14.787c2.157,5.456-2.243,11.081-8.06,10.316C1.669,26.584-1.825,30.904,0.953,38.891z" />
                        <g>
                            <path style="fill:#D75A4A;" d="M4.69,37.18c0.402,0.785,3.058,5.552,9.111,7.554c1.335,0.441,2.863,0.577,4.482,0.72l0.282,0.025
                            c0.818,0.073,1.698,0.11,2.617,0.11c18.18,0,22.854-11.218,24.02-16.041c1.134-4.693,0.706-9.703-1.235-14.488
                            C41.049,7.874,36.856,4.229,31.506,4.229c-2.21,0-4.683,0.615-7.349,1.83c-2.992,1.364-6.676,3.921-4.13,10.36
                            c1.284,3.25,0.912,6.746-1.023,9.591c-2.17,3.191-6.002,4.901-9.895,4.39c-0.493-0.065-0.966-0.099-1.404-0.099
                            c-1.077,0-2.502,0.198-3.173,1.143C3.765,32.524,3.823,34.609,4.69,37.18z" />
                            <path style="fill:#C64940;" d="M21.184,46.589c-0.948,0-1.858-0.038-2.706-0.114l-0.283-0.025
                            c-1.674-0.147-3.257-0.287-4.706-0.767c-6.376-2.108-9.188-7.073-9.688-8.047l-0.058-0.137c-0.984-2.917-0.993-5.273-0.026-6.635
                            c0.912-1.285,2.89-1.807,5.524-1.456c3.537,0.466,6.959-1.054,8.936-3.961c1.746-2.565,2.082-5.723,0.921-8.661
                            c-3.189-8.065,2.707-10.754,4.645-11.638c9.68-4.407,16.81-1.155,21.152,9.535c2.021,4.981,2.464,10.202,1.28,15.099
                            C44.953,34.836,40.073,46.589,21.184,46.589z M5.613,36.787c0.401,0.758,2.936,5.155,8.503,6.997
                            c1.229,0.406,2.699,0.536,4.256,0.673l0.284,0.025c0.788,0.07,1.639,0.106,2.527,0.106c17.469,0,21.938-10.683,23.048-15.276
                            c1.084-4.487,0.672-9.286-1.19-13.877C40.29,8.663,36.409,5.229,31.506,5.229c-2.067,0-4.4,0.585-6.934,1.74
                            c-3.02,1.376-5.81,3.532-3.615,9.083c1.408,3.563,0.998,7.398-1.126,10.521c-2.404,3.534-6.563,5.386-10.852,4.818
                            c-1.793-0.236-3.197,0.019-3.632,0.632C4.912,32.636,4.756,34.207,5.613,36.787z" />
                        </g>
                        <g>
                            <circle style="fill:#E6E6E6;" cx="32.455" cy="12.779" r="4" />
                            <path style="fill:#7A3726;" d="M32.455,17.779c-2.757,0-5-2.243-5-5s2.243-5,5-5s5,2.243,5,5S35.212,17.779,32.455,17.779z
                            M32.455,9.779c-1.654,0-3,1.346-3,3s1.346,3,3,3s3-1.346,3-3S34.109,9.779,32.455,9.779z" />
                        </g>
                        <path style="fill:#C64940;" d="M25.617,45.684l-1.941-0.479c0.435-1.761-1.063-3.216-3.446-4.859
                        c-2.875-1.984-4.817-5.117-5.327-8.595c-0.186-1.266-0.425-2.285-0.428-2.295l1.922-0.548c0.01,0.028,1.09,3.104,3.978,4.314
                        c2.094,0.877,4.667,0.598,7.648-0.832c11.578-5.554,17.102-2.646,17.332-2.52l-0.967,1.752c-0.04-0.021-4.97-2.48-15.5,2.57
                        c-3.53,1.694-6.662,1.984-9.312,0.863c-0.801-0.339-1.49-0.779-2.078-1.265c0.769,1.974,2.11,3.695,3.867,4.907
                        C23.149,39.931,26.472,42.222,25.617,45.684z" />
                        <path style="fill:#C64940;" d="M27.074,27.586c-5.37,0-7.605-3.694-7.633-3.74l1.727-1.01l-0.863,0.505l0.859-0.511
                        c0.108,0.179,2.714,4.335,9.738,2.105c1.54-0.794,12.038-6.002,15.619-2.289l-1.439,1.389c-1.979-2.052-9.229,0.576-13.332,2.714
                        l-0.154,0.064C29.892,27.364,28.389,27.586,27.074,27.586z" />
                    </g>
                </svg>
                <svg viewBox="0 0 49 49" id="soda" class="product">
                    <g>
                        <path style="fill:#E22F37;" d="M9.5,27V5.918c0-1.362,0.829-2.587,2.094-3.093l0,0C12.642,2.406,13.5,1.14,13.5,0.011L13.5,0v0
                        l11,0l11,0v0v0.011c0,1.129,0.858,2.395,1.906,2.814l0,0c1.265,0.506,2.094,1.73,2.094,3.093V27v-5v21.082
                        c0,1.362-0.829,2.587-2.094,3.093h0c-1.048,0.419-1.906,1.686-1.906,2.814V49l0,0h-11h-11l0,0l0-0.011
                        c0-1.129-0.858-2.395-1.906-2.814h0c-1.265-0.506-2.094-1.73-2.094-3.093V22" />
                        <path style="fill:#F75B57;" d="M18.5,7h-5c-0.553,0-1-0.447-1-1s0.447-1,1-1h5c0.553,0,1,0.447,1,1S19.053,7,18.5,7z" />
                        <path style="fill:#F75B57;" d="M35.5,7h-13c-0.553,0-1-0.447-1-1s0.447-1,1-1h13c0.553,0,1,0.447,1,1S36.053,7,35.5,7z" />
                        <path style="fill:#994530;" d="M18.5,45h-5c-0.553,0-1-0.447-1-1s0.447-1,1-1h5c0.553,0,1,0.447,1,1S19.053,45,18.5,45z" />
                        <path style="fill:#994530;" d="M35.5,45h-13c-0.553,0-1-0.447-1-1s0.447-1,1-1h13c0.553,0,1,0.447,1,1S36.053,45,35.5,45z" />
                        <polygon style="fill:#E6E6E6;" points="39.5,32 9.5,42 9.5,20 39.5,10 	" />
                        <polygon style="fill:#F9D70B;" points="39.5,28 9.5,38 9.5,24 39.5,14 	" />
                    </g>
                </svg>
                <div class="cart-container">
                    <svg viewBox="0 0 512 512" id="cart">
                        <circle cx="376.8" cy="440" r="55" />
                        <circle cx="192" cy="440" r="55" />
                        <polygon points="128,0 0.8,0 0.8,32 104.8,32 136.8,124.8 170.4,124.8 " />
                        <polygon style="fill:#ED7161;" points="250.4,49.6 224,124.8 411.2,124.8 " />
                        <polygon style="fill:#ee5a46;" points="411.2,124.8 224,124.8 170.4,124.8 136.8,124.8 68,124.8 141.6,361.6 427.2,361.6
                    511.2,124.8 " />
                        <g>
                            <rect x="166.4" y="185.6" style="fill:#FFFFFF;" width="255.2" height="16" />
                            <rect x="166.4" y="237.6" style="fill:#FFFFFF;" width="166.4" height="16" />
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <!-- preloader end -->
    <!-- back to top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- back to top end -->
    <!-- header-start -->
    <header class="header d-blue-bg">
        <div class="header-top">
            <div class="container">
                <div class="header-inner">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-7">
                            <div class="header-inner-start">
                                <div class="header__currency border-right">
                                    <div class="s-name">
                                        <span>Language: </span>
                                    </div>
                                    <select>
                                        <option>English</option>
                                        <option>Deutsch</option>
                                        <option>Français</option>
                                        <option>Espanol</option>
                                    </select>
                                </div>
                                <div class="header__lang border-right">
                                    <div class="s-name">
                                        <span>Currency: </span>
                                    </div>
                                    <select>
                                        <option> USD</option>
                                        <option>EUR</option>
                                        <option>INR</option>
                                        <option>BDT</option>
                                        <option>BGD</option>
                                    </select>
                                </div>
                                <div class="support d-none d-sm-block">
                                    <p>Need Help? <a href="tel:+001123456789">+001 123 456 789</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 d-none d-lg-block">
                            <div class="header-inner-end text-md-end">
                                <div class="ovic-menu-wrapper">
                                    <ul>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="contact.html">Order Tracking</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                        <li><a href="faq.html">FAQs</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-mid">
            <div class="container">
                <div class="heade-mid-inner">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
                            <div class="header__info">
                                <div class="logo">
                                    <a class="navbar-brand" routerLink="catalog">
                                        <a asp-area="" asp-controller="Catalog" asp-action="Index">
                                            <img src="img/logo/logo-white.png" alt="logo">
                                        </a>
                                    </a>
                                    @*<a href="index.html" class="logo-image"><img src="assets/img/logo/logo1.svg" alt="logo"></a>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                            <div class="header__search">
                                <form action="#">
                                    <div class="header__search-box">
                                        <input class="search-input" type="text" placeholder="I'm shopping for...">
                                        <button class="button" type="submit"><i class="far fa-search"></i></button>
                                    </div>
                                    <div class="header__search-cat">
                                        <select>
                                            <option>All Categories</option>
                                            <option>Best Seller Products</option>
                                            <option>Top 10 Offers</option>
                                            <option>New Arrivals</option>
                                            <option>Phones &amp; Tablets</option>
                                            <option>Electronics &amp; Digital</option>
                                            <option>Fashion &amp; Clothings</option>
                                            <option>Jewelry &amp; Watches</option>
                                            <option>Health &amp; Beauty</option>
                                            <option>Sound &amp; Speakers</option>
                                            <option>TV &amp; Audio</option>
                                            <option>Computers</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 col-md-8 col-sm-8">
                            @await Html.PartialAsync("_LoginPartial")

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <div class="container">
                <div class="row g-0 align-items-center">
                    <div class="col-lg-3">
                        <div class="cat__menu-wrapper side-border d-none d-lg-block">
                            <div class="cat-toggle">
                                <button type="button" class="cat-toggle-btn cat-toggle-btn-1"><i class="fal fa-bars"></i> Shop by department</button>
                                <div class="cat__menu">
                                    <nav id="mobile-menu" style="display: block;">
                                        <ul>
                                            <li>
                                                <a href="product.html">All Categories <i class="far fa-angle-down"></i></a>
                                                <ul class="mega-menu">
                                                    <li>
                                                        <a href="product.html">Shop Pages</a>
                                                        <ul class="mega-item">
                                                            <li><a href="product-details.html">Standard SHop Page</a></li>
                                                            <li><a href="product-details.html">Shop Right Sidebar</a></li>
                                                            <li><a href="product-details.html">Shop Left Sidebar</a></li>
                                                            <li><a href="product-details.html">Shop 3 Column</a></li>
                                                            <li><a href="product-details.html">Shop 4 Column</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="product.html">Product Pages</a>
                                                        <ul class="mega-item">
                                                            <li><a href="product-details.html">Product Details</a></li>
                                                            <li><a href="product-details.html">Product V2</a></li>
                                                            <li><a href="product-details.html">Product V3</a></li>
                                                            <li><a href="product-details.html">Varriable Product</a></li>
                                                            <li><a href="product-details.html">External Product</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="product.html">Other Pages</a>
                                                        <ul class="mega-item">
                                                            <li><a href="product-details.html">wishlist</a></li>
                                                            <li><a href="product-details.html">Shopping Cart</a></li>
                                                            <li><a href="product-details.html">Checkout</a></li>
                                                            <li><a href="product-details.html">Login</a></li>
                                                            <li><a href="product-details.html">Register</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="product.html">Phone &amp; Tablets</a>
                                                        <ul class="mega-item">
                                                            <li><a href="product-details.html">Catagory 1</a></li>
                                                            <li><a href="product-details.html">Catagory 2</a></li>
                                                            <li><a href="product-details.html">Catagory 3</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="product.html">Phone &amp; Tablets</a>
                                                        <ul class="mega-item">
                                                            <li><a href="product-details.html">Catagory 1</a></li>
                                                            <li><a href="product-details.html">Catagory 2</a></li>
                                                            <li><a href="product-details.html">Catagory 3</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="product.html">Phone and Electronics <i class="far fa-angle-down"></i></a>
                                                <ul class="mega-menu mega-menu-2">
                                                    <li>
                                                        <a href="product.html">Shop Pages</a>
                                                        <ul class="mega-item">
                                                            <li><a href="product-details.html">Standard SHop Page</a></li>
                                                            <li><a href="product-details.html">Shop Right Sidebar</a></li>
                                                            <li><a href="product-details.html">Shop Left Sidebar</a></li>
                                                            <li><a href="product-details.html">Shop 3 Column</a></li>
                                                            <li><a href="product-details.html">Shop 4 Column</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="product.html">Product Pages</a>
                                                        <ul class="mega-item">
                                                            <li><a href="product-details.html">Product Details</a></li>
                                                            <li><a href="product-details.html">Product V2</a></li>
                                                            <li><a href="product-details.html">Product V3</a></li>
                                                            <li><a href="product-details.html">Varriable Product</a></li>
                                                            <li><a href="product-details.html">External Product</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="product.html">Other Pages</a>
                                                        <ul class="mega-item">
                                                            <li><a href="product-details.html">wishlist</a></li>
                                                            <li><a href="product-details.html">Shopping Cart</a></li>
                                                            <li><a href="product-details.html">Checkout</a></li>
                                                            <li><a href="product-details.html">Login</a></li>
                                                            <li><a href="product-details.html">Register</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="product.html">Phone &amp; Tablets</a>
                                                        <ul class="mega-item">
                                                            <li><a href="product-details.html">Catagory 1</a></li>
                                                            <li><a href="product-details.html">Catagory 2</a></li>
                                                            <li><a href="product-details.html">Catagory 3</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="product.html">Phone &amp; Tablets</a>
                                                        <ul class="mega-item">
                                                            <li><a href="product-details.html">Catagory 1</a></li>
                                                            <li><a href="product-details.html">Catagory 2</a></li>
                                                            <li><a href="product-details.html">Catagory 3</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="product.html">
                                                    Best Seller Products
                                                    <span class="cat-label">hot!</span>
                                                    <i class="far fa-angle-down"></i>
                                                </a>
                                                <ul class="mega-menu">
                                                    <li>
                                                        <a href="product.html">Shop Pages</a>
                                                        <ul class="mega-item">
                                                            <li><a href="product-details.html">Standard SHop Page</a></li>
                                                            <li><a href="product-details.html">Shop Right Sidebar</a></li>
                                                            <li><a href="product-details.html">Shop Left Sidebar</a></li>
                                                            <li><a href="product-details.html">Shop 3 Column</a></li>
                                                            <li><a href="product-details.html">Shop 4 Column</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="product.html">Product Pages</a>
                                                        <ul class="mega-item">
                                                            <li><a href="product-details.html">Product Details</a></li>
                                                            <li><a href="product-details.html">Product V2</a></li>
                                                            <li><a href="product-details.html">Product V3</a></li>
                                                            <li><a href="product-details.html">Varriable Product</a></li>
                                                            <li><a href="product-details.html">External Product</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="product.html">Other Pages</a>
                                                        <ul class="mega-item">
                                                            <li><a href="product-details.html">wishlist</a></li>
                                                            <li><a href="product-details.html">Shopping Cart</a></li>
                                                            <li><a href="product-details.html">Checkout</a></li>
                                                            <li><a href="product-details.html">Login</a></li>
                                                            <li><a href="product-details.html">Register</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="product.html">Phone &amp; Tablets</a>
                                                        <ul class="mega-item">
                                                            <li><a href="product-details.html">Catagory 1</a></li>
                                                            <li><a href="product-details.html">Catagory 2</a></li>
                                                            <li><a href="product-details.html">Catagory 3</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="product.html">Phone &amp; Tablets</a>
                                                        <ul class="mega-item">
                                                            <li><a href="product-details.html">Catagory 1</a></li>
                                                            <li><a href="product-details.html">Catagory 2</a></li>
                                                            <li><a href="product-details.html">Catagory 3</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="product.html">
                                                    Top 10 Offers
                                                    <span class="cat-label green">new!</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="product.html">New Arrivals <i class="far fa-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="product.html">Home Appliances</a></li>
                                                    <li>
                                                        <a href="product.html">Technology</a>
                                                        <ul class="submenu">
                                                            <li><a href="product.html">Storage Devices</a></li>
                                                            <li><a href="product.html">Monitors</a></li>
                                                            <li><a href="product.html">Laptops</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="product.html">Office Equipments</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="product.html">TV &amp; Audio</a></li>
                                            <li><a href="product.html">Electronics &amp; Digital</a></li>
                                            <li class="d-laptop-none"><a href="product.html">Fashion &amp; Clothings</a></li>
                                            <li class="d-laptop-none"><a href="product.html">Jewelry &amp; Watches</a></li>
                                            <li><a href="product.html">Health &amp; Beauty</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-3">
                        <div class="header__bottom-left d-flex d-xl-block align-items-center">
                            <div class="side-menu d-lg-none mr-20">
                                <button type="button" class="side-menu-btn offcanvas-toggle-btn"><i class="fas fa-bars"></i></button>
                            </div>
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="index.html">Home <i class="far fa-angle-down"></i></a>
                                            <ul class="megamenu-1">
                                                <li>
                                                    <a href="index.html">Home Pages</a>
                                                    <ul class="mega-item">
                                                        <li><a href="index.html">Home One</a></li>
                                                        <li><a href="index-2.html">Home Two</a></li>
                                                        <li><a href="index-3.html">Home Three</a></li>
                                                        <li><a href="product-details.html">Shop Right Sidebar</a></li>
                                                        <li><a href="product-details.html">Shop Left Sidebar</a></li>
                                                        <li><a href="product-details.html">Shop 3 Column</a></li>
                                                        <li><a href="product-details.html">Shop 4 Column</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="product.html">Product Pages</a>
                                                    <ul class="mega-item">
                                                        <li><a href="product-details.html">Product Details</a></li>
                                                        <li><a href="product-details.html">Product V2</a></li>
                                                        <li><a href="product-details.html">Product V3</a></li>
                                                        <li><a href="product-details.html">Varriable Product</a></li>
                                                        <li><a href="product-details.html">External Product</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="product.html">Other Pages</a>
                                                    <ul class="mega-item">
                                                        <li><a href="product-details.html">wishlist</a></li>
                                                        <li><a href="product-details.html">Shopping Cart</a></li>
                                                        <li><a href="product-details.html">Checkout</a></li>
                                                        <li><a href="product-details.html">Login</a></li>
                                                        <li><a href="product-details.html">Register</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="product.html">Phone &amp; Tablets</a>
                                                    <ul class="mega-item">
                                                        <li><a href="product-details.html">Catagory 1</a></li>
                                                        <li><a href="product-details.html">Catagory 2</a></li>
                                                        <li><a href="product-details.html">Catagory 3</a></li>
                                                        <li><a href="product-details.html">Catagory 4</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="product.html">Phone &amp; Tablets</a>
                                                    <ul class="mega-item">
                                                        <li><a href="product-details.html">Catagory 1</a></li>
                                                        <li><a href="product-details.html">Catagory 2</a></li>
                                                        <li><a href="product-details.html">Catagory 3</a></li>
                                                        <li><a href="product-details.html">Catagory 4</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li class="has-mega">
                                            <a href="shop.html" class="active">Shop <i class="far fa-angle-down"></i></a>
                                            <div class="mega-menu">
                                                <div class="container container-mega">
                                                    <ul>
                                                        <li>
                                                            <ul>
                                                                <li class="title"><a href="shop.html">SHOP LAYOUT</a></li>
                                                                <li><a href="shop.html">Pagination</a></li>
                                                                <li><a href="shop.html">Ajax Load More</a></li>
                                                                <li><a href="shop.html">Infinite Scroll</a></li>
                                                                <li><a href="shop.html">Sidebar Right</a></li>
                                                                <li><a href="shop.html">Sidebar Left</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <ul>
                                                                <li class="title"><a href="shop.html">SHOP PAGES</a></li>
                                                                <li><a href="shop.html">List View</a></li>
                                                                <li><a href="shop.html">Small Products</a></li>
                                                                <li><a href="shop.html">Large Products</a></li>
                                                                <li><a href="shop.html">Shop — 3 Items</a></li>
                                                                <li><a href="shop.html">Shop — 4 Items</a></li>
                                                                <li><a href="shop.html">Shop — 5 Items</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <ul>
                                                                <li class="title"><a href="shop.html">PRODUCT LAYOUT</a></li>
                                                                <li><a href="shop.html">Description Sticky</a></li>
                                                                <li><a href="shop.html">Product Carousel</a></li>
                                                                <li><a href="shop.html">Gallery Modern</a></li>
                                                                <li><a href="shop.html">Thumbnail Left</a></li>
                                                                <li><a href="shop.html">Thumbnail Right</a></li>
                                                                <li><a href="shop.html">Thumbnail Botttom</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <ul>
                                                                <li class="title"><a href="shop.html">Basketball</a></li>
                                                                <li><a href="shop.html">East Hampton Fleece</a></li>
                                                                <li><a href="shop.html">Faxon Canvas Low</a></li>
                                                                <li><a href="shop.html">Habitasse Dictumst</a></li>
                                                                <li><a href="shop.html">Kaoreet Lobortis</a></li>
                                                                <li><a href="shop.html">NikeCourt Zoom</a></li>
                                                                <li><a href="shop.html">NikeCourts Air Zoom</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <ul>
                                                                <li class="title"><a href="shop.html">Basketball</a></li>
                                                                <li><a href="shop.html">East Hampton Fleece</a></li>
                                                                <li><a href="shop.html">Faxon Canvas Low</a></li>
                                                                <li><a href="shop.html">Habitasse Dictumst</a></li>
                                                                <li><a href="shop.html">Kaoreet Lobortis</a></li>
                                                                <li><a href="shop.html">NikeCourt Zoom</a></li>
                                                                <li><a href="shop.html">NikeCourts Air Zoom</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mega-image hover-effect" style="background-image: url(assets/img/bg/menu-item.jpg);">
                                                            <ul>
                                                                <li>
                                                                    <a href="shop.html">
                                                                        <h4>Top Cameras <br> Bestseller Products</h4>
                                                                        <h5>4K</h5>
                                                                        <h6>Sale Up To <span>60% Off</span></h6>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="offer mt-40">
                                                    <p><b>30% OFF</b> the shipping of your first order with the code: <b>DUKA-SALE30</b></p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="blog.html">Blog <i class="far fa-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="about.html">pages <i class="far fa-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="my-account.html">My Account</a></li>
                                                <li><a href="product-details.html">Product Details</a></li>
                                                <li><a href="faq.html">Faq Pages</a></li>
                                                <li><a href="cart.html">Cart</a></li>
                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="404.html">404 Error</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-9">
                        <div class="shopeing-text text-sm-end">
                            <p>Spend $120 more and get free shipping!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <!-- offcanvas area start -->
    <div class="offcanvas__area">
        <div class="offcanvas__wrapper">
            <div class="offcanvas__close">
                <button class="offcanvas__close-btn" id="offcanvas__close-btn">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="offcanvas__content">
                <div class="offcanvas__logo mb-40">
                    <a class="navbar-brand" routerLink="catalog">
                        <a asp-area="" asp-controller="Catalog" asp-action="Index">
                            <img src="img/logo/logo-white.png" alt="logo">
                        </a>
                    </a>
                </div>
                <div class="offcanvas__search mb-25">
                    <form action="#">
                        <input type="text" placeholder="What are you searching for?">
                        <button type="submit"><i class="far fa-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu fix"></div>
                <div class="offcanvas__action">
                </div>
            </div>
        </div>
    </div>
    <!-- offcanvas area end -->
    <div class="body-overlay"></div>
    <!-- offcanvas area end -->
    @RenderBody()


    <!-- footer-start -->
    <footer>
        <div class="fotter-area d-dark-bg">
            <div class="footer__top pt-80 pb-15">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-4 order-last-md">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <div class="footer__widget">
                                        <div class="footer__widget-title">
                                            <h4>Customer Care</h4>
                                        </div>
                                        <div class="footer__widget-content">
                                            <div class="footer__link">
                                                <ul>
                                                    <li><a href="faq.html">New Customers</a></li>
                                                    <li><a href="faq.html">How to use Account</a></li>
                                                    <li><a href="faq.html">Placing an Order</a></li>
                                                    <li><a href="faq.html">Payment Methods</a></li>
                                                    <li><a href="faq.html">Delivery &amp; Dispatch</a></li>
                                                    <li><a href="faq.html">Problems with Order</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                    <div class="footer__widget">
                                        <div class="footer__widget-title">
                                            <h4>Customer Service</h4>
                                        </div>
                                        <div class="footer__widget-content">
                                            <div class="footer__link">
                                                <ul>
                                                    <li><a href="faq.html">Help Center</a></li>
                                                    <li><a href="faq.html">Contact Us</a></li>
                                                    <li><a href="faq.html">Report Abuse</a></li>
                                                    <li><a href="faq.html">Submit a Dispute</a></li>
                                                    <li><a href="faq.html">Policies &amp; Rules</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-8 order-first-md">
                            <div class="footer__top-left">
                                <div class="row">

                                    <div class="col-xl-7 col-lg-6 col-md-6 col-sm-6">
                                        <div class="row">

                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                                <div class="footer__widget">
                                                    <div class="footer__widget-title">
                                                        <h4>My Account</h4>
                                                    </div>
                                                    <div class="footer__widget-content">
                                                        <div class="footer__link">
                                                            <ul>
                                                                <li><a href="faq.html">Product Support</a></li>
                                                                <li><a href="checkout.html">Checkout</a></li>
                                                                <li><a href="cart.html">Shopping Cart</a></li>
                                                                <li><a href="wishlist.html">Wishlist</a></li>
                                                                <li><a href="faq.html">Terms &amp; Conditions &amp;</a></li>
                                                                <li><a href="faq.html">Redeem Voucher</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                                <div class="footer__widget">
                                                    <div class="footer__widget-title">
                                                        <h4>Quick Links</h4>
                                                    </div>
                                                    <div class="footer__widget-content">
                                                        <div class="footer__link">
                                                            <ul>
                                                                <li><a href="contact.html">Store Location</a></li>
                                                                <li><a href="my-account.html">My account</a></li>
                                                                <li><a href="contact.html">Order Tracking</a></li>
                                                                <li><a href="faq.html">FAQs</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="col-xl-5 col-lg-6 col-md-6 col-sm-6">
                                        <div class="footer__widget">
                                            <div class="footer__widget-title mb-20">
                                                <h4>About The Store</h4>
                                            </div>
                                            <div class="footer__widget-content">
                                                <p class="footer-text mb-35">Our mission statement is to provide the absolute best customer experience available in the Electronic industry without exception.</p>
                                                <div class="footer__hotline d-flex align-items-center mb-10">
                                                    <div class="icon mr-15">
                                                        <i class="fal fa-headset"></i>
                                                    </div>
                                                    <div class="text">
                                                        <h4>Got Question? Call us 24/7!</h4>
                                                        <span><a href="tel:100-123-456-7890">(+100) 123 456 7890</a></span>
                                                    </div>
                                                </div>
                                                <div class="footer__info">
                                                    <ul>
                                                        <li>
                                                            <span>Add:  <a target="_blank" href="https://goo.gl/maps/c82DDZ8ALvL878Bv8">Walls Street 68, Mahattan, New York, USA</a></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="container">
                    <div class="footer__bottom-content pt-55 pb-45">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="footer__links text-center mb-25">
                                    <p>
                                        <a href="faq.html">Online Shopping</a>
                                        <a href="faq.html">Promotions</a>
                                        <a href="faq.html">My Orders</a>
                                        <a href="faq.html">Help</a>
                                        <a href="faq.html">Customer Service</a>
                                        <a href="faq.html">Support</a>
                                        <a href="faq.html">Most Populars</a>
                                        <a href="faq.html">New Arrivals</a>
                                        <a href="faq.html">Special Products </a>
                                        <a href="faq.html">Manufacturers</a>
                                        <br>
                                        <a href="faq.html">Garden Equipments</a>
                                        <a href="faq.html">Powers And Hand Tools </a>
                                        <a href="faq.html">Utensil &amp; Gadget </a>
                                        <a href="faq.html">Printers</a>
                                        <a href="faq.html">Projectors</a>
                                        <a href="faq.html">Scanners</a>
                                        <a href="faq.html">Store</a>
                                        <a href="faq.html">Business</a>
                                    </p>
                                </div>
                                <div class="payment-image text-center mb-25">
                                    <a href="contact.html"><img src="assets/img/payment/payment.png" alt=""></a>
                                </div>
                                <div class="copy-right-area text-center">
                                    <p>Copyright © <span>DukaMarket.</span> All Rights Reserved. Powered by <a href="#"><span class="main-color">Theme_Pure.</span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-end -->


    <environment names="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/vendor/jquery.js"></script>
        <script src="~/js/vendor/waypoints.js"></script>
        <script src="~/js/bootstrap-bundle.js"></script>
        <script src="~/js/meanmenu.js"></script>
        <script src="~/js/swiper-bundle.js"></script>
        <script src="~/js/tweenmax.js"></script>
        <script src="~/js/owl-carousel.js"></script>
        <script src="~/js/magnific-popup.js"></script>
        <script src="~/js/parallax.js"></script>
        <script src="~/js/backtotop.js"></script>
        <script src="~/js/nice-select.js"></script>
        <script src="~/js/countdown.min.js"></script>
        <script src="~/js/counterup.js"></script>
        <script src="~/js/ui-slider-range.js"></script>
        <script src="~/js/wow.js"></script>
        <script src="~/js/isotope-pkgd.js"></script>
        <script src="~/js/imagesloaded-pkgd.js"></script>
        <script src="~/js/ajax-form.js"></script>
        <script src="~/js/main.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)


    @using Microsoft.AspNetCore.Authentication;
    @using Microsoft.Extensions.Options
    @inject IOptions<AppSettings> settings

    <script type="text/javascript">
        if ('@User.Identity.IsAuthenticated' === 'True') {
            var timerId;

            stablishConnection((conn) => registerNotificationHandlers(conn));
        }

        function stablishConnection(cb) {
            let connection = new signalR.HubConnectionBuilder()
                .withUrl('@settings.Value.SignalrHubUrl/hub/notificationhub', {
                    accessTokenFactory: () => {
                        return "Authorization", getToken();
                    }
                })
                .withAutomaticReconnect()
                .build();

            connection.start().then(function() {
                console.log('User Registered to Signalr Hub');
                cb(connection);
            });
        }

        function registerNotificationHandlers(connection) {
            connection.on("UpdatedOrderState", (message) => {
                toastr.success('Updated to status: ' + message.status, 'Order Id: ' + message.orderId);
                if (window.location.pathname.split("/").pop() === 'Order') {
                    refreshOrderList();
                }
            });
        }

        function getToken() {
            return '@Context.GetTokenAsync("access_token").Result';
        }

        function refreshOrderList() {
            clearTimeout(timerId);
            timerId = setTimeout(function() {
                window.location.reload();
            }, 1000);
        }
    </script>
</body>
</html>
