@model Microsoft.eShopOnContainers.WebMVC.Models.Pagination.PaginationInfo

<div class="row">
    <div class="col-xs-4">
        <nav>
            <ul>
                <li class="page-item">
                    <a class="text previous @Model.Previous" id="Previous"
                       href="@Url.Action("Index","Catalog", new { page = Model.ActualPage -1 })"
                       aria-label="Previous">
                        <span>Previous</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-xs-4 u-align-center"><span>Showing @Html.DisplayFor(modelItem => modelItem.ItemsPerPage) of @Html.DisplayFor(modelItem => modelItem.TotalItems) products - Page @(Model.ActualPage + 1) of @Html.DisplayFor(x => x.TotalPages)</span></div>
    <div class="col-xs-4">
        <nav>
            <ul>
                <li class="page-item">
                    <a class="text next @Model.Next" id="Next"
                       href="@Url.Action("Index","Catalog", new { page = Model.ActualPage + 1 })"
                       aria-label="Next">
                        <span>Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
