@{
    ViewData["Title"] = "Catalog";
    @model Microsoft.eShopOnContainers.WebMVC.ViewModels.CatalogViewModels.IndexViewModel
}
<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
    </div>
</section>

<section class="esh-catalog-filters">
    <div class="container">
        <form asp-action="Index" asp-controller="Catalog" method="post">
            <label class="esh-catalog-label" data-title="brand">
                <select asp-for="@Model.BrandFilterApplied" asp-items="@Model.Brands" class="esh-catalog-filter"></select>
            </label>
            <label class="esh-catalog-label" data-title="type">
                <select asp-for="@Model.TypesFilterApplied" asp-items="@Model.Types" class="esh-catalog-filter"></select>
            </label>
            <input class="esh-catalog-send" type="image" src="~/images/arrow-right.svg" />
        </form>
    </div>
</section>

<div class="container">
    <div class="row">
        <br />
        @if(ViewBag.BasketInoperativeMsg != null)
        {
            <div class="alert alert-warning" role="alert">
                &nbsp;@ViewBag.BasketInoperativeMsg
            </div>
        }
    </div>

    @if (Model.CatalogItems.Count() > 0)
    {
        @Html.Partial("_pagination", Model.PaginationInfo)

        <div class="esh-catalog-items row">
            @foreach (var catalogItem in Model.CatalogItems)
            {
                <div class="esh-catalog-item col-md-4">
                    @Html.Partial("_product", catalogItem)
                </div>
            }
        </div>

        @Html.Partial("_pagination", Model.PaginationInfo)
    }
    else
    {
        <div class="esh-catalog-items row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
</div>
