@{
    ViewData["Title"] = "Catalog";
    @model Microsoft.eShopOnContainers.WebMVC.Models.CatalogViewModels.IndexViewModel
}

<div class="container-fluid">
    <div class="row home-banner">
        <div class="container home-banner-text"><img src="~/images/main_banner_text.png" /></div>
    </div>

    <div class="home-catalog-filter-container">
        <div class="container">
            <form asp-action="Index" asp-controller="Catalog" method="post">
                <div data-name="brand" class="select-filter-wrapper">
                    <img src="~/images/arrow-down.png" class="select-filter-arrow" />
                    <select asp-for="@Model.BrandFilterApplied" asp-items="@Model.Brands" class="select-filter"></select>
                </div>
                <div data-name="type" class="select-filter-wrapper">
                    <img src="~/images/arrow-down.png" class="select-filter-arrow" />
                    <select asp-for="@Model.TypesFilterApplied" asp-items="@Model.Types" class="select-filter"></select>
                </div>
                <input type="submit" class="btn-brand btn-brand-small btn-brand-small-filter btn-catalog-apply" value="APPLY" />
            </form>
        </div>
    </div>
</div>
<div class="container home-catalog-container">
    @if (Model.CatalogItems.Count() > 0)
    {
        <div class="container es-pager-top">
            @Html.Partial("_pagination", Model)
        </div>
        <div class="row">
            @foreach (var catalogItem in Model.CatalogItems)
            {
                <div class="col-xs-12 col-sm-6 col-lg-4 home-catalog-item">
                    @Html.Partial("_product", catalogItem)
                </div>
            }

        </div>
        <div class="container es-pager-bottom">
            @Html.Partial("_pagination", Model)
        </div>
    }
    else
    {
        <div class="home-catalog-noResults">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
</div>