@{
    ViewData["Title"] = "Catalog";
    @model Microsoft.eShopOnContainers.WebMVC.Models.CatalogViewModels.IndexViewModel
}

<div class="container-fluid">
    <div class="row home-banner">
        <div class="container home-banner-text"><img src="~/images/main_banner_text.png" /></div>
    </div>

    <div class="home-catalog-filter-container">
        <div class="container">
            <form asp-action="Index" asp-controller="Catalog" method="post">
                <div data-name="brand" class="select-filter-wrapper">
                    <img src="~/images/arrow-down.png" class="select-filter-arrow" />
                    <select asp-for="@Model.BrandFilterApplied" asp-items="@Model.Brands" class="select-filter"></select>
                </div>
                <div data-name="type" class="select-filter-wrapper">
                    <img src="~/images/arrow-down.png" class="select-filter-arrow" />
                    <select asp-for="@Model.TypesFilterApplied" asp-items="@Model.Types" class="select-filter"></select>
                </div>
                <input type="submit" class="btn-brand btn-brand-small btn-brand-small-filter btn-catalog-apply" value="APPLY" />
            </form>
        </div>
    </div>
</div>

<div class="container home-catalog-container">
    <div class="container es-pager-top">
        <div class="row">
            <div class="col-xs-4">
                <nav>
                    <ul>
                        <li class="page-item">
                           <a class="text previous @Model.PaginationInfo.Previous" id="Previous"
                               href="@Url.Action("Index","Catalog", new { page = Model.PaginationInfo.ActualPage -1 })"
                               aria-label="Previous">
                                <span>Previous</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-4 u-align-center"><span>Showing @Html.DisplayFor(modelItem => modelItem.PaginationInfo.ItemsPerPage) of @Html.DisplayFor(modelItem => modelItem.PaginationInfo.TotalItems) products - Page @(Model.PaginationInfo.ActualPage + 1) of @Html.DisplayFor(x => x.PaginationInfo.TotalPages)</span></div>
            <div class="col-xs-4">
                <nav>
                    <ul>
                        <li class="page-item">
                            <a class="text next @Model.PaginationInfo.Next" id="Next"
                               href="@Url.Action("Index","Catalog", new { page = Model.PaginationInfo.ActualPage + 1 })"
                               aria-label="Next">
                                <span>Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var catalogItem in Model.CatalogItems)
        {
            <form asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@catalogItem.Id">
                <div class="col-sm-4 home-catalog-item">
                    <div class="home-catalog-item-image" >
                        <img src="@catalogItem.PictureUrl" />
                        <input type="submit" value="[ ADD TO CART ]" class="btn-brand home-catalog-item-image-addCart" />
                    </div>
                    <div class="home-catalog-item-title">
                        <span>@catalogItem.Name</span>
                    </div>
                    <div class="home-catalog-item-price">
                        <span>@catalogItem.Price.ToString("N2")</span>
                    </div>
                </div>
            </form>
        }
    </div>
    <div class="container es-pager-bottom">
        <div class="row">
            <div class="col-xs-4">
                <nav>
                    <ul>
                        <li class="page-item">
                            <a class="text previous @Model.PaginationInfo.Previous" id="Previous"
                               href="@Url.Action("Index","Catalog", new { page = Model.PaginationInfo.ActualPage + -1 })"
                               aria-label="Previous">
                                <span>Previous</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-4 u-align-center"><span>Showing @Html.DisplayFor(modelItem => modelItem.PaginationInfo.ItemsPerPage) of @Html.DisplayFor(modelItem => modelItem.PaginationInfo.TotalItems) products - Page @(Model.PaginationInfo.ActualPage + 1) of @Html.DisplayFor(x => x.PaginationInfo.TotalPages)</span></div>
            <div class="col-xs-4">
                <nav>
                    <ul>
                        <li class="page-item">
                            <a class="text next @Model.PaginationInfo.Next" id="Next"
                               href="@Url.Action("Index","Catalog", new { page = Model.PaginationInfo.ActualPage + 1 })"
                               aria-label="Next">
                                <span>Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
