@model Microsoft.eShopOnContainers.WebMVC.Models.Order

<div class="col-md-12">
    <section>
        <table class="table">
            <thead>
                <tr>
                    <th class="cart-product-column">
                        PRODUCT
                    </th>
                    <th>

                    </th>
                    <th>
                        BRAND
                    </th>
                    <th>
                        PRICE
                    </th>
                    <th>
                        QUANTITY
                    </th>
                    <th>
                        COST
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.OrderItems.Count; i++)
                {
                    var item = Model.OrderItems[i];

                    <tr>
                        <td class="cart-product-column">
                            <img class="cart-product-image" src="@item.PictureUrl" />
                            <input type="hidden" value="@item.PictureUrl" name=@("orderitems[" + i + "].PictureUrl") />
                        </td>
                        <td class="cart-product-column">
                            <span class="cart-product-column-name">@item.ProductName</span>
                            <input type="hidden" value="@item.ProductName" name=@("orderitems[" + i + "].ProductName") />
                        </td>
                        <td class="cart-product-column">ROSLYN</td>
                        <td class="cart-product-column">$ @item.UnitPrice
                            <input type="hidden" value="@item.UnitPrice" name=@("orderitems[" + i + "].UnitPrice") />
                        </td>
                        <td class="cart-product-column">@item.Units
                            <input type="hidden" value="@item.Units" name=@("orderitems[" + i + "].Units") />
                        </td>
                        <td class="cart-product-column cart-total-value">$ @Math.Round(item.Units * item.UnitPrice, 2)</td>
                    </tr>
                }
                <tr class="cart-totals">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                    </td>
                    <td>
                        <div class="cart-total-value">
                            <div class="cart-total-label"><span>TOTAL</span></div>
                            <span>$ @Model.Total</span>
                            <input type="hidden" value="@Model.Total" name="Total"/>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
