@model Microsoft.eShopOnContainers.WebMVC.Models.Order
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Order Detail";
}

<div class="brand-header-block">
    <ul class="container">
        <li class="brand-header-back"><a asp-area="" asp-controller="Catalog" asp-action="Index">Back to list</a></li>
    </ul>
</div>


<div class="container order-detail-container">
    <div class="row">
        <div class="col-sm-3">
            <span>ORDER NUMBER</span><br />
            <span>@Model.OrderNumber</span>
        </div>
        <div class="col-sm-3">
            <span>DATE</span><br />
            <span>@Model.OrderDate</span>
        </div>
        <div class="col-sm-3">
            <span>TOTAL</span><br />
            <span>$ @Model.Total()</span>
        </div>
        <div class="col-sm-3">
            <span>STATUS</span><br />
            <span>@Model.State</span>
        </div>
    </div>
    <div class="row order-detail-section">
        <div class="col-sm-3">
            <span>SHIPING ADDRESS</span><br />
            <span>@Model.ShippingAddress.Street</span><br />
            <span>@Model.ShippingAddress.City</span><br />
            @*<span>@Model.ShippingAddress.ZipCode</span><br />*@
            <span>@Model.ShippingAddress.Country</span><br />
        </div>
    </div>
    <div>
        <div class="row order-detail-section"><div class="col-sm-3">ORDER DETAILS</div></div>
        <section>
            <table class="table">
                <tbody>
                    @for (int i = 0; i < Model.OrderItems.Count; i++)
                    {
                        var item = Model.OrderItems[i];

                        <tr>
                            <td class="cart-product-column"><img class="cart-product-image" src="@item.PictureUrl" /></td>
                            <td class="cart-product-column">@item.ProductName</td>
                            <td class="cart-product-column">ROSLYN</td>
                            <td class="cart-product-column">$ @Math.Round(item.UnitPrice, 2)</td>
                            <td class="cart-product-column">@item.Quantity</td>
                            <td class="cart-product-column cart-total-value">$ @Math.Round(item.Quantity * item.UnitPrice,2)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-6">

                </div>
            </div>
        </section>
    </div>
    <div class="col-md-offset-9 col-md-3">
        @*<input type="submit"
               class="btn btn-default cart-refresh-button"
               value=""
               name="action" />*@
        <div class="order-section-total">
            @*<div class="cart-subtotal-label"><span>SUBTOTAL</span></div>
                <div class="cart-subtotal-value"><span>$ @Model.Total()</span></div>
                <div class="cart-subtotal-label"><span>TAX</span></div>
                <div class="cart-subtotal-value"><span>$ 4.20</span></div>*@
            <div class="cart-total-label"><span>TOTAL</span></div>
            <div class="cart-total-value"><span>$ @Model.Total()</span></div>
        </div>
    </div>
</div>
