@model IEnumerable<Microsoft.eShopOnContainers.WebMVC.Models.Order>

@{
    ViewData["Title"] = "My Orders";
}
<div class="brand-header-block">
    <ul class="container">
        <li class="brand-header-back"><a asp-area="" asp-controller="Catalog" asp-action="Index">Back to home</a></li>
    </ul>
</div>
<div class="container order-index-container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    ORDER NUMBER
                </th>
                <th>
                    DATE
                </th>
                <th>
                    TOTAL
                </th>
                <th>
                    STATUS
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        $ @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="order-detail-button">
                        <a asp-controller="Order" asp-action="Detail" asp-route-orderId="@item.OrderNumber">Detail</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>