@model IEnumerable<Microsoft.eShopOnContainers.WebMVC.Models.Order>

@{
    ViewData["Title"] = "View";
}
<div class="brand-header-block">
    <ul class="container">
        <li class="brand-header-back"><a asp-area="" asp-controller="Home" asp-action="Index">Back to home</a></li>
    </ul>
</div>
<div class="container cart-index-container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                    @*@Html.DisplayNameFor(model => model.SequenceNumber)*@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuyerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                        @*@Html.DisplayFor(modelItem => item.SequenceNumber)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuyerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>