@using Microsoft.eShopOnContainers.WebMVC.ViewModels

@model IEnumerable<Microsoft.eShopOnContainers.WebMVC.ViewModels.Order>

@{
    ViewData["Title"] = "My Orders";
    var headerList = new List<Header>() {
        new Header() { Controller = "Catalog", Text = "Back to catalog" },
        new Header() { Text = " / " },
        new Header() { Controller = "OrderManagement", Text = "Orders Management" } };
}

<div class="esh-orders">
    <partial name="_Header" model="headerList" />

    <div class="container">



        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Order number</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var item in Model)
                    {

                        <tr>
                            <th scope="row">1</th>
                            <td>@Html.DisplayFor(modelItem => item.OrderNumber)</td>
                            <td>$ @Html.DisplayFor(modelItem => item.Total)</td>
                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                            <td> <a class="esh-orders-link" asp-controller="Order" asp-action="Detail" asp-route-orderId="@item.OrderNumber">Detail</a></td>
                            <td>
                                @if (item.Status.ToLower() == "submitted")
                                {
                                    <a class="esh-orders-link" asp-controller="Order" asp-action="cancel" asp-route-orderId="@item.OrderNumber">Cancel</a>
                                }
                            </td>
                            <td>
                                @if (item.Status.ToLower() == "paid")
                                {
                                    <button id="completed" class="btn btn-primary" data-order-id="@item.OrderNumber"> Completed Event</button>
                                    @*<a class="esh-orders-link" asp-controller="Order" asp-action="completed" asp-route-orderId="@item.OrderNumber">Completed</a>*@
                                }
                            </td>

                        </tr>


                    }

                }
            </tbody>
        </table>
    </div>
</div>




